<div class="content">
  <div class="focus">
    <div class="container" style="margin-top: 1rem;">
      <svg width="3.5rem" height="0.5rem" viewBox="0 0 56 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" rx="2" fill="#FE4A60"/>
        <rect x="12" width="8" height="8" rx="2" fill="#FFE26C"/>
        <rect x="24" width="8" height="8" rx="2" fill="#0CF195"/>
        <rect x="36" width="8" height="8" rx="2" fill="#00ABE3"/>
        <rect x="48" width="8" height="8" rx="2" fill="#C471E3"/>
      </svg>
    </div>
    <div class="container" style="margin-top: 3rem;">
      <div>
        <img style="width: 13rem; height: 2rem;" src="assets/logo.svg" alt="Logo">
      </div>
    </div>
    <div class="container" style="margin-top: 3rem;">
      <div >
        <h1 class="hero-text">hey, there</h1>
      </div>
    </div>
    <div >
      <form>
        <input type="text" name="company" placeholder="company">
        <input type="text" name="name" placeholder="company">
        <input type="text" name="mail" placeholder="company">
        <input type="text" name="message" placeholder="company">
      </form>
    </div>
  </div>
</div>