<div class="content">
  <div class="container" style="margin-top: 1rem;">
    <svg width="3.5rem" height="0.5rem" viewBox="0 0 56 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="8" height="8" rx="2" fill="#FE4A60"/>
      <rect x="12" width="8" height="8" rx="2" fill="#FFE26C"/>
      <rect x="24" width="8" height="8" rx="2" fill="#0CF195"/>
      <rect x="36" width="8" height="8" rx="2" fill="#00ABE3"/>
      <rect x="48" width="8" height="8" rx="2" fill="#C471E3"/>
    </svg>
  </div>
  <div class="container" style="margin-top: 4.5rem;">
    <div>
      <img style="width: 13rem; height: 2rem;" src="assets/logo.svg" alt="Logo">
    </div>
  </div>
  <div class="container" style="margin-top: 1.5rem;">
    <div class="hero-text">
      <h1>digital solutions for a digital age</h1>
    </div>
  </div>
  <div class="container" style="margin-top: 1.5rem;">
    <div class="brand-text">
      <h2>branding, UX / UI & development</h2>
    </div>
  </div>
  <div class="container" style="margin-top: 2rem;">
    <div class="final-text">
      <p>we provide tailor-made design & development services for websites & applications.</p>
    </div>
  </div>
  <div class="container" style="margin-top: 3rem;">
      <button class="contact-button">contact us</button>
  </div>
  <div class="container" style="flex-direction: column;margin-top: 3.25rem;">
      <span class="footer">Privacy Policy</span>
      <span class="footer">Ⓒ Primordial.ro 2022</span>
  </div>
</div>