.content {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  margin-top: 4.5rem;
  width: 210px;
  height: 32px;
}


.montserrat-hero {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
  line-height: 2.75rem;

  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.montserrat-brand {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  color: #FFFFFF;

  line-height: 1.625rem;
  text-align: center;

  display: flex;
  flex-direction: column;

  margin-top: 1.5rem;
}

.montserrat-final {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: var(--0-neutral-3-white, #FFF);

  line-height: 1.5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.contact-button {
  padding: 0.75rem 1.5rem;
  background-color: #272727;
  border: 2px solid var(--0-neutral-3-white, #FFF);
  border-radius: 0.25rem; 

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  color: var(--0-neutral-3-white, #FFF);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 155.556% */
}

.footer {
  color: var(--0-neutral-2-light-grey, #969696);
  text-align: center;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 133.333% */
}


@media (min-width: 504px) {
  .logo {
    width: 19rem;
    height: 3rem;
  }

  .montserrat-hero {
    font-size: 3rem;
    line-height: 3.5rem; /* 116.667% */

    margin-top: 3rem;
  }

  .montserrat-brand {
    font-size: 1.5rem;
    line-height: 1.75rem; /* 116.667% */

    display: block;
  }

  .montserrat-final {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
  }
}